.header {
    width: 95%;
    padding: 10px;
    background: #b55e67;
    h5 {
        padding: 0px;
        margin: 0px;
        font-size: 24px;
        color: #fff;
    }
}

.message {
    text-align: center;
    h1 {
        margin: 0px;
        font-size: 65px;
        font-weight: 100;
    }
    h5 {
        margin: 8px;
        font-size: 12px;
    }
}

.mat-card {
    padding: 0px;
}