.mat-form-field {
    width: 90%;
    margin-left: 13px;
}

.btn-container {
    margin-top: 25px;
}

.btn-update {
    margin-left: 10px;
}

.btn-delete {
    position: absolute;
    right: 20px;
    top: 10px;
}