.main-card {
    min-width: 300px;
    max-width: 370px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}
h4 {
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
}

.project-content {
    margin: 8px;
}

.btn-add-proj {
    position: fixed;
    z-index: 9999999;
    right: 20px;
    bottom: 30px;
}

.card {
    max-width: 400px;
    margin-bottom: 10px; 
}